* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    height: 100%;
    background: rgb(242, 242, 242);
}

header {
    background-color: rgb(56, 101, 115);
}

h1 {
    color: rgb(241, 237, 237);
    height: 8rem;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

header h1,
ul,
.Inputs,
.informations,
#list,
.checkCard,
.buttonCard {
    display: flex;
}

ul {
    width: 23rem;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.Inputs {
    justify-content: center;
    padding-top: 4rem;
    border-color: rgb(233, 228, 228);
    flex-direction: column;
    align-items: center;
}

#createTask {
    height: 3rem;
    width: 20rem;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    border-style: none;
}

#content {
    width: 20rem;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    border-style: none;
}

#deadline {
    width: 20rem;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    border-style: none;

}

#createTask::placeholder,
#content::placeholder,
#deadline::placeholder {
    text-align: center;
}

#create {
    height: 3rem;
    width: 8rem;
}

#list {
    color: white;
    align-items: center;
    flex-direction: column;

}

.taskCard {
    width: 30%;
    padding: 1.5rem;
    border-radius: 7px;
    margin-bottom: 1rem;
    margin-top: 0.8rem;
    color: #ebe7e7;
    background-color: #24636f;
    display: flex;
    justify-content: space-between;
    -webkit-box-shadow: -2px 3px 13px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 3px 13px -4px rgba(0,0,0,0.75);
    box-shadow: -2px 3px 13px -4px rgba(0,0,0,0.75);

    & .contentCard {

        & .deleteButton {
            background-color: rgba(255, 57, 57, 0.653);
            color: white;
            border: none;
            width: 5rem;
            border-radius: 8px;
        }

        & .updateButton {
            background-color: rgba(255, 155, 32, 0.822);
            color: white;
            border: none;
            width: 5rem;
            border-radius: 8px;
        }
    }

}

.buttonCard {
    gap: 0.5rem;
}

.checkCard {
    align-items: center;
}

.completeBox {
    width: 2rem;
    height: 3rem;
}

#icons {
    color: green;
}

/* /////////////// JANELA MODAL ////////////// */
.card {
    padding: 4.8rem 6.4rem 6.4rem;
    background: rgb(242, 242, 242);
    max-width: 42.8rem;
    margin-inline: auto;

    box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.1);
    border-radius: .6rem;
    display: unset;
}

.modal-wrapper.open {
    opacity: 1;
    visibility: visible;
}

.modal-wrapper {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);

    display: grid;
    place-content: center;

    opacity: 0;
    visibility: hidden;
}

.modal {
    position: relative;
}

.modal .close {
    background: none;
    border: none;

    position: absolute;
    top: 1.6rem;
    right: 1.6rem;

    cursor: pointer;

    transition: transform .3s;
}

.modal .close:hover {
    transform: scale(1.1);
}

.modalContent {
    display: flex;
    flex-direction: column;
}

.modal .modalContent #save {
    background-color: #28a745;
    color: white;
    border: none;
    width: 5rem;
    border-radius: 8px;
    border: 1px double rgba(0, 0, 0, 0.424);
}
#editTitle,
#editContent,
#editDeadline{
    border-color: rgb(233, 228, 228);
    text-align: center;
    border: none;
    width: 100%;
}